{% extends "base.html" %}

{% block title %}Find a movie{% endblock title %}

{% block content %}

  <div class = 'container'>
    <div class = 'row'>
      <div class = 'col-12'>
        <p> id </p>
        <form action="{% url 'list' %}" method="POST" class="form-inline mt-5">
          {% csrf_token %}
          <input class="form-control mr-sm-2 col-10  " type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>


{% endblock content %}
